/* ===============================================================================
=> SEXY BUTTONS IE
=============================================================================== */
button.sexy-button { 
	width:auto; 
  overflow:visible;
}
button.sexy-button span { 
	margin-top:1px;
}