/* ===============================================================================
=> SEXY BUTTONS
		Credits:
		http://www.filamentgroup.com/lab/styling_the_button_element_with_sliding_doors
		http://www.cssplay.co.uk/menu/inline-links3.html
=============================================================================== */


/* ===============================================================================
=> SHARED
=============================================================================== */
.sexy-button {
	padding:0 20px 0 0;  
	text-align:center;
	font-weight:bold;
	background:transparent;
	background:url(right.png) right no-repeat; 
	font-size:13px;
}
.sexy-button span {
	background:url(left.png) left no-repeat;
	margin:0;
	padding:0 0 0 20px;
	height:26px;
	line-height:26px;
	color:#1a486b;
}
/* ===============================================================================
=> BUTTON
=============================================================================== */
button.sexy-button {
	border:none; 
	cursor:pointer;
}
button.sexy-button span { 
	/*position:relative;*/ /* IE has problems with this */
	display:block;
	white-space:nowrap;	
}
/* ===============================================================================
=> A
=============================================================================== */
a.sexy-button {
	text-decoration:none;
	display:inline-block;
}
a.sexy-button span {	
	display:inline-block;	
}
/* ===============================================================================
=> HOVER
=============================================================================== */
.sexy-button:hover {
	background:url(right_hover.png) right no-repeat;
}
.sexy-button:hover span {
	background:url(left_hover.png) left no-repeat;
	color:#000;
}