/* ===============================================================================
=> SEXY BUTTONS THEME NAMED "big"
=============================================================================== */
.sexy-button-big { 
 	background-image:url(bg.png);
	font-size:15px; 
}
.sexy-button-big span { 
	height:36px; 
	line-height:36px;
	background-image:url(bg.png);
}